<div class="todo-card">
  <p style="color: green"><%= notice %></p>
  <table>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Text</th>
      <th>Edit this todo list</th>
    </tr>
    <%= render @todo_list %>
  </table>
  <div class="link-button">
    <%= link_to "Edit This todo list" , edit_todo_list_path(@todo_list), class: "edit-button" %> 
    <%= button_to "Destroy this todo list" , @todo_list, method: :delete, class: "delete-button" %> 
  </div>
</div>
