body {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 20px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.center { 
    text-align: center;
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
}